In [18]:
"""qts .1"""
"""for loop example"""
l=[1,2,3,4,5]
sum=0
for i in l:
    sum=sum+i
  
print(sum)    
"""while loop example"""
n=int(input("enter any number to print its table"))
result=0
count=1
while(count<=10):
     result=n*count
     print(result)
     count=count+1
result

15

enter any number to print its table 5

5
10
15
20
25
30
35
40
45
50

50

In [4]:
"""QTS.2.sum and product of first 10 natural numbers"""
sum=0
prd=1
count=1
l=list(range(1,11))
for i in l:
       while count<=10:
            if i>=1 or i<=10:
                sum=sum+i
                prd=prd*i
                count=count+1
                i=i+1
            else:
                count=count+1
                i=i+1       

print(sum)

print(prd)

55
3628800

In [1]:
"""QTS.3.program to compute electricity bill of a household"""
charge=0
unit=int(input("enter a number of units consumed in a month"))

if unit<=100:
    charge=unit*4.5
elif unit<=200:
    charge=(unit-100)*6+100*4.5

elif unit<=300:
    charge=(unit-200)*10+100*6+100*4.5

else:
    charge=(unit-300)*20+100*10+100*6+100*4.5

enter a number of units consumed in a month 310

In [2]:
charge

2250.0

In [1]:
"""QTS.4"""
l1=[]
cube=0
count=1
l=list(range(1,101))
for i in l:
    while count<=100:
        if i>=1 or i <=100:
            cube=i*i*i
            if cube%4==0 or cube%5==0:
                l1.append(i)
                count=count+1
                i=i+1
            else:
                i=i+1
                count=count+1

print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [1]:
"""QTS.5"""

str="i want to become a data scientist"
v=0
for i in str:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        v=v+1
    else:
        continue
    
print(v)

12